openapi: 3.1.0
info:
  title: GMRLOG API
  version: 1.0.0
  description: Unified GMRLOG OpenAPI bundle — Documentation Freeze v1.0.
servers:
- url: https://api.gmrlog.com/api/v1
  description: Production
- url: https://staging-api.gmrlog.com/api/v1
  description: Staging
- url: http://localhost:4000/api/v1
  description: Local Development
tags:
- name: Moderation
  description: Content moderation queue and resolution
- name: CMS
  description: Platform-curated content management
- name: Users
  description: User administration and role management
- name: Reports
  description: User-submitted content reports
- name: Posts
  description: Administrative post actions
- name: Jobs
  description: Background job queue visibility and control
- name: Analytics
  description: Internal platform and moderation analytics
- name: Feature Flags
  description: Feature flag management
- name: Audit
  description: Append-only audit log access
- name: AI
  description: AI-powered features
- name: Authentication
  description: Authentication endpoints
- name: Collections
  description: User game collection management
- name: Conversations
  description: Direct and group-backed conversation inbox
- name: Participants
  description: Conversation membership
- name: Messages
  description: Message CRUD, rich types, search
- name: ReadReceipts
  description: Message read state (Freeze MessageRead)
- name: Reactions
  description: Likes and emoji reactions
- name: Threads
  description: Reply threads (future Freeze column)
- name: Groups
  description: Public / private / invite-only communities
- name: GroupMembers
  description: Owner / moderator / member roles
- name: Channels
  description: Topic channels under a group
- name: Polls
  description: In-conversation polls
- name: Mentions
  description: Mention inbox and per-message mentions
- name: Pins
  description: Pinned messages
- name: Bookmarks
  description: Saved messages
- name: Attachments
  description: Media attachments (API surface future)
- name: VoiceRooms
  description: Voice channels (future)
- name: Games
  description: Game catalog endpoints
- name: Discover
  description: Discovery and trending
- name: Releases
  description: Release information
- name: Media
  description: Screenshots, videos and artwork
- name: Companies
  description: Developers and publishers
- name: Ratings
  description: Scores and ratings
- name: Achievements
  description: Achievements and trophies
- name: Game Logs
  description: User game log entries (status, playtime, completion)
- name: Play Sessions
  description: Active and historical play session tracking
- name: Progress
  description: Per-game progress and completion percentage
- name: Timeline
  description: Chronological activity feed for the authenticated user
- name: Statistics
  description: Aggregated playtime and completion statistics
- name: Lists
  description: User game list management
- name: Notifications
  description: Notification center and delivery
- name: Reviews
  description: Game review CRUD and discovery
- name: Search
  description: Search and discovery
- name: Social
  description: Social graph and activity
- name: Communities
  description: Communities 2.0 — wiki · pins · badges · feed tabs (D3.24)
- name: Tier Lists
  description: Tier list management
- name: Profiles
  description: Public and private profiles
- name: Preferences
  description: User preferences
- name: Privacy
  description: Privacy settings
paths:
  /admin/moderation/batch-scan:
    post:
      tags:
      - Moderation
      summary: Trigger AI moderation backfill
      description: Admin only. Enqueues a batch AI scan job for the moderation queue.
      operationId: adminBatchScanModeration
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                entityType:
                  type: string
                  enum:
                  - REVIEW
                  - POST
                  - COMMENT
                  - PROFILE
                  - MESSAGE
                  - COLLECTION
                  - TIERLIST
                from:
                  type: string
                  format: date-time
                limit:
                  type: integer
                  minimum: 1
                  maximum: 10000
                  default: 1000
      responses:
        '202':
          description: Scan job accepted
          content:
            application/json:
              schema:
                type: object
                required:
                - jobId
                - acceptedAt
                properties:
                  jobId:
                    type: string
                  acceptedAt:
                    type: string
                    format: date-time
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/moderation/queue:
    get:
      tags:
      - Moderation
      summary: List moderation queue items
      description: Paginated moderation queue with filters by priority, SLA, and entity type.
      operationId: adminListModerationQueue
      parameters:
      - name: page
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Cursor + Limit. Page number (offset pagination).
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Limit. Number of items per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: entityType
        in: query
        schema:
          type: string
          enum:
          - REVIEW
          - POST
          - COMMENT
          - PROFILE
          - MESSAGE
          - COLLECTION
          - TIERLIST
      - name: priority
        in: query
        schema:
          type: string
          enum:
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
      - name: status
        in: query
        schema:
          type: string
          enum:
          - PENDING
          - IN_REVIEW
          - ESCALATED
          - RESOLVED
      responses:
        '200':
          description: Queue items
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - items
                  - pagination
                  properties:
                    items:
                      type: array
                    pagination:
                      type: object
                      description: Offset pagination metadata for admin reporting and analytics endpoints.
                      required:
                      - page
                      - pageSize
                      - totalItems
                      - totalPages
                      - hasNext
                      properties:
                        page:
                          type: integer
                          minimum: 1
                        pageSize:
                          type: integer
                          minimum: 1
                          maximum: 100
                        totalItems:
                          type: integer
                          minimum: 0
                        totalPages:
                          type: integer
                          minimum: 0
                        hasNext:
                          type: boolean
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        required:
                        - id
                        - entityType
                        - entityId
                        - priority
                        - status
                        - createdAt
                        properties:
                          id:
                            type: string
                            format: uuid
                          entityType:
                            type: string
                            enum:
                            - REVIEW
                            - POST
                            - COMMENT
                            - PROFILE
                            - MESSAGE
                            - COLLECTION
                            - TIERLIST
                          entityId:
                            type: string
                            format: uuid
                          priority:
                            type: string
                            enum:
                            - LOW
                            - MEDIUM
                            - HIGH
                            - CRITICAL
                          status:
                            type: string
                            enum:
                            - PENDING
                            - IN_REVIEW
                            - ESCALATED
                            - RESOLVED
                          aiScore:
                            type: number
                            format: float
                            minimum: 0
                            maximum: 1
                            nullable: true
                          reporterCount:
                            type: integer
                            minimum: 0
                          author:
                            type: object
                            description: Lightweight user reference for lists, admin views, and activity feeds.
                            required:
                            - id
                            - username
                            properties:
                              id:
                                type: string
                                format: uuid
                              username:
                                type: string
                              displayName:
                                type: string
                                nullable: true
                              avatarUrl:
                                type: string
                                format: uri
                                nullable: true
                              isVerified:
                                type: boolean
                                default: false
                          contentSnapshot:
                            type: string
                            description: Redacted content preview
                          slaDueAt:
                            type: string
                            format: date-time
                            nullable: true
                          assignedTo:
                            type: object
                            description: Lightweight user reference for lists, admin views, and activity feeds.
                            required:
                            - id
                            - username
                            properties:
                              id:
                                type: string
                                format: uuid
                              username:
                                type: string
                              displayName:
                                type: string
                                nullable: true
                              avatarUrl:
                                type: string
                                format: uri
                                nullable: true
                              isVerified:
                                type: boolean
                                default: false
                          createdAt:
                            type: string
                            format: date-time
                          resolvedAt:
                            type: string
                            format: date-time
                            nullable: true
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/moderation/stats:
    get:
      tags:
      - Moderation
      summary: Get moderation statistics
      description: SLA compliance, volume, and category breakdown for moderation dashboards.
      operationId: adminGetModerationStats
      parameters:
      - name: from
        in: query
        schema:
          type: string
          format: date-time
      - name: to
        in: query
        schema:
          type: string
          format: date-time
      responses:
        '200':
          description: Moderation statistics
          content:
            application/json:
              schema:
                type: object
                required:
                - pendingCount
                - resolvedToday
                - slaComplianceRate
                properties:
                  pendingCount:
                    type: integer
                    minimum: 0
                  resolvedToday:
                    type: integer
                    minimum: 0
                  slaComplianceRate:
                    type: number
                    format: float
                    minimum: 0
                    maximum: 1
                  byEntityType:
                    type: object
                    additionalProperties:
                      type: integer
                      minimum: 0
                  byPriority:
                    type: object
                    additionalProperties:
                      type: integer
                      minimum: 0
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/moderation/queue/{itemId}:
    get:
      tags:
      - Moderation
      summary: Get moderation queue item detail
      operationId: adminGetModerationItem
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Queue item detail
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - entityType
                - entityId
                - priority
                - status
                - createdAt
                properties:
                  id:
                    type: string
                    format: uuid
                  entityType:
                    type: string
                    enum:
                    - REVIEW
                    - POST
                    - COMMENT
                    - PROFILE
                    - MESSAGE
                    - COLLECTION
                    - TIERLIST
                  entityId:
                    type: string
                    format: uuid
                  priority:
                    type: string
                    enum:
                    - LOW
                    - MEDIUM
                    - HIGH
                    - CRITICAL
                  status:
                    type: string
                    enum:
                    - PENDING
                    - IN_REVIEW
                    - ESCALATED
                    - RESOLVED
                  aiScore:
                    type: number
                    format: float
                    minimum: 0
                    maximum: 1
                    nullable: true
                  reporterCount:
                    type: integer
                    minimum: 0
                  author:
                    type: object
                    description: Lightweight user reference for lists, admin views, and activity feeds.
                    required:
                    - id
                    - username
                    properties:
                      id:
                        type: string
                        format: uuid
                      username:
                        type: string
                      displayName:
                        type: string
                        nullable: true
                      avatarUrl:
                        type: string
                        format: uri
                        nullable: true
                      isVerified:
                        type: boolean
                        default: false
                  contentSnapshot:
                    type: string
                    description: Redacted content preview
                  slaDueAt:
                    type: string
                    format: date-time
                    nullable: true
                  assignedTo:
                    type: object
                    description: Lightweight user reference for lists, admin views, and activity feeds.
                    required:
                    - id
                    - username
                    properties:
                      id:
                        type: string
                        format: uuid
                      username:
                        type: string
                      displayName:
                        type: string
                        nullable: true
                      avatarUrl:
                        type: string
                        format: uri
                        nullable: true
                      isVerified:
                        type: boolean
                        default: false
                  createdAt:
                    type: string
                    format: date-time
                  resolvedAt:
                    type: string
                    format: date-time
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/moderation/queue/{itemId}/resolve:
    post:
      tags:
      - Moderation
      summary: Resolve a moderation queue item
      description: Approve, reject, edit, warn, suspend, or ban. Writes audit log entry.
      operationId: adminResolveModerationItem
      parameters:
      - name: itemId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - action
              - reasonCode
              properties:
                action:
                  type: string
                  enum:
                  - APPROVE
                  - REJECT
                  - EDIT_APPROVE
                  - WARN
                  - SUSPEND
                  - BAN
                reasonCode:
                  type: string
                internalNote:
                  type: string
                  maxLength: 2000
                editedContent:
                  type: string
                  description: Required when action is EDIT_APPROVE
                suspensionDays:
                  type: integer
                  minimum: 1
                  description: Required when action is SUSPEND
      responses:
        '200':
          description: Resolved
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - entityType
                - entityId
                - priority
                - status
                - createdAt
                properties:
                  id:
                    type: string
                    format: uuid
                  entityType:
                    type: string
                    enum:
                    - REVIEW
                    - POST
                    - COMMENT
                    - PROFILE
                    - MESSAGE
                    - COLLECTION
                    - TIERLIST
                  entityId:
                    type: string
                    format: uuid
                  priority:
                    type: string
                    enum:
                    - LOW
                    - MEDIUM
                    - HIGH
                    - CRITICAL
                  status:
                    type: string
                    enum:
                    - PENDING
                    - IN_REVIEW
                    - ESCALATED
                    - RESOLVED
                  aiScore:
                    type: number
                    format: float
                    minimum: 0
                    maximum: 1
                    nullable: true
                  reporterCount:
                    type: integer
                    minimum: 0
                  author:
                    type: object
                    description: Lightweight user reference for lists, admin views, and activity feeds.
                    required:
                    - id
                    - username
                    properties:
                      id:
                        type: string
                        format: uuid
                      username:
                        type: string
                      displayName:
                        type: string
                        nullable: true
                      avatarUrl:
                        type: string
                        format: uri
                        nullable: true
                      isVerified:
                        type: boolean
                        default: false
                  contentSnapshot:
                    type: string
                    description: Redacted content preview
                  slaDueAt:
                    type: string
                    format: date-time
                    nullable: true
                  assignedTo:
                    type: object
                    description: Lightweight user reference for lists, admin views, and activity feeds.
                    required:
                    - id
                    - username
                    properties:
                      id:
                        type: string
                        format: uuid
                      username:
                        type: string
                      displayName:
                        type: string
                        nullable: true
                      avatarUrl:
                        type: string
                        format: uri
                        nullable: true
                      isVerified:
                        type: boolean
                        default: false
                  createdAt:
                    type: string
                    format: date-time
                  resolvedAt:
                    type: string
                    format: date-time
                    nullable: true
        '400':
          description: Validation Error
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/cms/{contentType}:
    get:
      tags:
      - CMS
      summary: List CMS content by type
      description: Admin only. Lists drafts, scheduled, and published content.
      operationId: adminListCmsContent
      parameters:
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - announcements
          - editorial-collections
          - discover-config
          - legal-pages
          - help-articles
      - name: page
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Cursor + Limit. Page number (offset pagination).
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Limit. Number of items per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: status
        in: query
        schema:
          type: string
          enum:
          - DRAFT
          - IN_REVIEW
          - SCHEDULED
          - PUBLISHED
          - ARCHIVED
      responses:
        '200':
          description: CMS content list
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - items
                  - pagination
                  properties:
                    items:
                      type: array
                    pagination:
                      type: object
                      description: Offset pagination metadata for admin reporting and analytics endpoints.
                      required:
                      - page
                      - pageSize
                      - totalItems
                      - totalPages
                      - hasNext
                      properties:
                        page:
                          type: integer
                          minimum: 1
                        pageSize:
                          type: integer
                          minimum: 1
                          maximum: 100
                        totalItems:
                          type: integer
                          minimum: 0
                        totalPages:
                          type: integer
                          minimum: 0
                        hasNext:
                          type: boolean
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        required:
                        - id
                        - contentType
                        - title
                        - status
                        - createdAt
                        - updatedAt
                        properties:
                          id:
                            type: string
                            format: uuid
                          contentType:
                            type: string
                            enum:
                            - announcements
                            - editorial-collections
                            - discover-config
                            - legal-pages
                            - help-articles
                          title:
                            type: string
                          slug:
                            type: string
                          body:
                            type: string
                          status:
                            type: string
                            enum:
                            - DRAFT
                            - IN_REVIEW
                            - SCHEDULED
                            - PUBLISHED
                            - ARCHIVED
                          scheduledAt:
                            type: string
                            format: date-time
                            nullable: true
                          publishedAt:
                            type: string
                            format: date-time
                            nullable: true
                          audit:
                            type: object
                            description: Server-side audit timestamps and actor references for privileged resources.
                            properties:
                              createdAt:
                                type: string
                                format: date-time
                              updatedAt:
                                type: string
                                format: date-time
                              createdBy:
                                type: string
                                format: uuid
                                nullable: true
                              updatedBy:
                                type: string
                                format: uuid
                                nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          updatedAt:
                            type: string
                            format: date-time
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
    post:
      tags:
      - CMS
      summary: Create CMS content draft
      operationId: adminCreateCmsContent
      parameters:
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - announcements
          - editorial-collections
          - discover-config
          - legal-pages
          - help-articles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - title
              - body
              properties:
                title:
                  type: string
                  minLength: 1
                  maxLength: 256
                slug:
                  type: string
                body:
                  type: string
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - contentType
                - title
                - status
                - createdAt
                - updatedAt
                properties:
                  id:
                    type: string
                    format: uuid
                  contentType:
                    type: string
                    enum:
                    - announcements
                    - editorial-collections
                    - discover-config
                    - legal-pages
                    - help-articles
                  title:
                    type: string
                  slug:
                    type: string
                  body:
                    type: string
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - IN_REVIEW
                    - SCHEDULED
                    - PUBLISHED
                    - ARCHIVED
                  scheduledAt:
                    type: string
                    format: date-time
                    nullable: true
                  publishedAt:
                    type: string
                    format: date-time
                    nullable: true
                  audit:
                    type: object
                    description: Server-side audit timestamps and actor references for privileged resources.
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      createdBy:
                        type: string
                        format: uuid
                        nullable: true
                      updatedBy:
                        type: string
                        format: uuid
                        nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          description: Validation Error
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/cms/{contentType}/{contentId}:
    patch:
      tags:
      - CMS
      summary: Update CMS content
      operationId: adminUpdateCmsContent
      parameters:
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - announcements
          - editorial-collections
          - discover-config
          - legal-pages
          - help-articles
      - name: contentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                slug:
                  type: string
                body:
                  type: string
                status:
                  type: string
                  enum:
                  - DRAFT
                  - IN_REVIEW
                  - SCHEDULED
                  - PUBLISHED
                  - ARCHIVED
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - contentType
                - title
                - status
                - createdAt
                - updatedAt
                properties:
                  id:
                    type: string
                    format: uuid
                  contentType:
                    type: string
                    enum:
                    - announcements
                    - editorial-collections
                    - discover-config
                    - legal-pages
                    - help-articles
                  title:
                    type: string
                  slug:
                    type: string
                  body:
                    type: string
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - IN_REVIEW
                    - SCHEDULED
                    - PUBLISHED
                    - ARCHIVED
                  scheduledAt:
                    type: string
                    format: date-time
                    nullable: true
                  publishedAt:
                    type: string
                    format: date-time
                    nullable: true
                  audit:
                    type: object
                    description: Server-side audit timestamps and actor references for privileged resources.
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      createdBy:
                        type: string
                        format: uuid
                        nullable: true
                      updatedBy:
                        type: string
                        format: uuid
                        nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          description: Validation Error
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
    delete:
      tags:
      - CMS
      summary: Archive CMS content
      operationId: adminArchiveCmsContent
      parameters:
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - announcements
          - editorial-collections
          - discover-config
          - legal-pages
          - help-articles
      - name: contentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Archived
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/cms/{contentType}/{contentId}/publish:
    post:
      tags:
      - CMS
      summary: Publish or schedule CMS content
      operationId: adminPublishCmsContent
      parameters:
      - name: contentType
        in: path
        required: true
        schema:
          type: string
          enum:
          - announcements
          - editorial-collections
          - discover-config
          - legal-pages
          - help-articles
      - name: contentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                scheduledAt:
                  type: string
                  format: date-time
                  description: Omit for immediate publish
      responses:
        '200':
          description: Published or scheduled
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - contentType
                - title
                - status
                - createdAt
                - updatedAt
                properties:
                  id:
                    type: string
                    format: uuid
                  contentType:
                    type: string
                    enum:
                    - announcements
                    - editorial-collections
                    - discover-config
                    - legal-pages
                    - help-articles
                  title:
                    type: string
                  slug:
                    type: string
                  body:
                    type: string
                  status:
                    type: string
                    enum:
                    - DRAFT
                    - IN_REVIEW
                    - SCHEDULED
                    - PUBLISHED
                    - ARCHIVED
                  scheduledAt:
                    type: string
                    format: date-time
                    nullable: true
                  publishedAt:
                    type: string
                    format: date-time
                    nullable: true
                  audit:
                    type: object
                    description: Server-side audit timestamps and actor references for privileged resources.
                    properties:
                      createdAt:
                        type: string
                        format: date-time
                      updatedAt:
                        type: string
                        format: date-time
                      createdBy:
                        type: string
                        format: uuid
                        nullable: true
                      updatedBy:
                        type: string
                        format: uuid
                        nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          description: Validation Error
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/users:
    get:
      tags:
      - Users
      summary: Search and list users
      description: Admin user search with offset pagination.
      operationId: adminListUsers
      parameters:
      - name: page
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Cursor + Limit. Page number (offset pagination).
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Limit. Number of items per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: q
        in: query
        description: Search query (username, email, display name)
        schema:
          type: string
      - name: role
        in: query
        schema:
          type: string
          enum:
          - User
          - Moderator
          - Admin
      responses:
        '200':
          description: Users
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - items
                  - pagination
                  properties:
                    items:
                      type: array
                    pagination:
                      type: object
                      description: Offset pagination metadata for admin reporting and analytics endpoints.
                      required:
                      - page
                      - pageSize
                      - totalItems
                      - totalPages
                      - hasNext
                      properties:
                        page:
                          type: integer
                          minimum: 1
                        pageSize:
                          type: integer
                          minimum: 1
                          maximum: 100
                        totalItems:
                          type: integer
                          minimum: 0
                        totalPages:
                          type: integer
                          minimum: 0
                        hasNext:
                          type: boolean
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        required:
                        - id
                        - username
                        - roles
                        - createdAt
                        properties:
                          id:
                            type: string
                            format: uuid
                          username:
                            type: string
                          email:
                            type: string
                            format: email
                          displayName:
                            type: string
                            nullable: true
                          roles:
                            type: array
                            items:
                              type: string
                              enum:
                              - User
                              - Moderator
                              - Admin
                          isSuspended:
                            type: boolean
                          isBanned:
                            type: boolean
                          strikeCount:
                            type: integer
                            minimum: 0
                          premiumGrantedAt:
                            type: string
                            format: date-time
                            nullable: true
                          createdAt:
                            type: string
                            format: date-time
                          lastActiveAt:
                            type: string
                            format: date-time
                            nullable: true
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/users/{userId}:
    get:
      tags:
      - Users
      summary: Get user admin profile
      description: Full user profile including private fields for moderation.
      operationId: adminGetUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: User profile
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - username
                - roles
                - createdAt
                properties:
                  id:
                    type: string
                    format: uuid
                  username:
                    type: string
                  email:
                    type: string
                    format: email
                  displayName:
                    type: string
                    nullable: true
                  roles:
                    type: array
                    items:
                      type: string
                      enum:
                      - User
                      - Moderator
                      - Admin
                  isSuspended:
                    type: boolean
                  isBanned:
                    type: boolean
                  strikeCount:
                    type: integer
                    minimum: 0
                  premiumGrantedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  lastActiveAt:
                    type: string
                    format: date-time
                    nullable: true
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
    patch:
      tags:
      - Users
      summary: Update user admin fields
      description: Warn, suspend, ban, or update moderation state. Role changes use `/roles`.
      operationId: adminUpdateUser
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isSuspended:
                  type: boolean
                suspensionDays:
                  type: integer
                  minimum: 1
                isBanned:
                  type: boolean
                internalNote:
                  type: string
                  maxLength: 2000
      responses:
        '200':
          description: Updated
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - username
                - roles
                - createdAt
                properties:
                  id:
                    type: string
                    format: uuid
                  username:
                    type: string
                  email:
                    type: string
                    format: email
                  displayName:
                    type: string
                    nullable: true
                  roles:
                    type: array
                    items:
                      type: string
                      enum:
                      - User
                      - Moderator
                      - Admin
                  isSuspended:
                    type: boolean
                  isBanned:
                    type: boolean
                  strikeCount:
                    type: integer
                    minimum: 0
                  premiumGrantedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  lastActiveAt:
                    type: string
                    format: date-time
                    nullable: true
        '400':
          description: Validation Error
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/users/{userId}/roles:
    patch:
      tags:
      - Users
      summary: Assign or remove user roles
      description: Admin only.
      operationId: adminUpdateUserRoles
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - roles
              properties:
                roles:
                  type: array
                  items:
                    type: string
                    enum:
                    - User
                    - Moderator
                    - Admin
                  minItems: 1
      responses:
        '200':
          description: Roles updated
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - username
                - roles
                - createdAt
                properties:
                  id:
                    type: string
                    format: uuid
                  username:
                    type: string
                  email:
                    type: string
                    format: email
                  displayName:
                    type: string
                    nullable: true
                  roles:
                    type: array
                    items:
                      type: string
                      enum:
                      - User
                      - Moderator
                      - Admin
                  isSuspended:
                    type: boolean
                  isBanned:
                    type: boolean
                  strikeCount:
                    type: integer
                    minimum: 0
                  premiumGrantedAt:
                    type: string
                    format: date-time
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
                  lastActiveAt:
                    type: string
                    format: date-time
                    nullable: true
        '400':
          description: Validation Error
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/users/{userId}/sessions/revoke:
    post:
      tags:
      - Users
      summary: Revoke all user sessions
      description: Admin only. Forces re-authentication on all devices.
      operationId: adminRevokeUserSessions
      parameters:
      - name: userId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Sessions revoked
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/reports:
    get:
      tags:
      - Reports
      summary: List content reports
      operationId: adminListReports
      parameters:
      - name: page
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Cursor + Limit. Page number (offset pagination).
        schema:
          type: integer
          minimum: 1
          default: 1
      - name: pageSize
        in: query
        required: false
        deprecated: true
        description: Deprecated — use Limit. Number of items per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: status
        in: query
        schema:
          type: string
          enum:
          - OPEN
          - IN_REVIEW
          - RESOLVED
          - DISMISSED
      responses:
        '200':
          description: Reports
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - items
                  - pagination
                  properties:
                    items:
                      type: array
                    pagination:
                      type: object
                      description: Offset pagination metadata for admin reporting and analytics endpoints.
                      required:
                      - page
                      - pageSize
                      - totalItems
                      - totalPages
                      - hasNext
                      properties:
                        page:
                          type: integer
                          minimum: 1
                        pageSize:
                          type: integer
                          minimum: 1
                          maximum: 100
                        totalItems:
                          type: integer
                          minimum: 0
                        totalPages:
                          type: integer
                          minimum: 0
                        hasNext:
                          type: boolean
                - type: object
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        required:
                        - id
                        - entityType
                        - entityId
                        - status
                        - createdAt
                        properties:
                          id:
                            type: string
                            format: uuid
                          entityType:
                            type: string
                            enum:
                            - REVIEW
                            - POST
                            - COMMENT
                            - PROFILE
                            - MESSAGE
                            - COLLECTION
                            - TIERLIST
                          entityId:
                            type: string
                            format: uuid
                          reporter:
                            type: object
                            description: Lightweight user reference for lists, admin views, and activity feeds.
                            required:
                            - id
                            - username
                            properties:
                              id:
                                type: string
                                format: uuid
                              username:
                                type: string
                              displayName:
                                type: string
                                nullable: true
                              avatarUrl:
                                type: string
                                format: uri
                                nullable: true
                              isVerified:
                                type: boolean
                                default: false
                          reasonCode:
                            type: string
                          description:
                            type: string
                            nullable: true
                          status:
                            type: string
                            enum:
                            - OPEN
                            - IN_REVIEW
                            - RESOLVED
                            - DISMISSED
                          createdAt:
                            type: string
                            format: date-time
                          resolvedAt:
                            type: string
                            format: date-time
                            nullable: true
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/reports/{reportId}:
    patch:
      tags:
      - Reports
      summary: Update report status
      operationId: adminUpdateReport
      parameters:
      - name: reportId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - status
              properties:
                status:
                  type: string
                  enum:
                  - OPEN
                  - IN_REVIEW
                  - RESOLVED
                  - DISMISSED
                resolutionNote:
                  type: string
                  maxLength: 2000
      responses:
        '200':
          description: Updated report
          content:
            application/json:
              schema:
                type: object
                required:
                - id
                - entityType
                - entityId
                - status
                - createdAt
                properties:
                  id:
                    type: string
                    format: uuid
                  entityType:
                    type: string
                    enum:
                    - REVIEW
                    - POST
                    - COMMENT
                    - PROFILE
                    - MESSAGE
                    - COLLECTION
                    - TIERLIST
                  entityId:
                    type: string
                    format: uuid
                  reporter:
                    type: object
                    description: Lightweight user reference for lists, admin views, and activity feeds.
                    required:
                    - id
                    - username
                    properties:
                      id:
                        type: string
                        format: uuid
                      username:
                        type: string
                      displayName:
                        type: string
                        nullable: true
                      avatarUrl:
                        type: string
                        format: uri
                        nullable: true
                      isVerified:
                        type: boolean
                        default: false
                  reasonCode:
                    type: string
                  description:
                    type: string
                    nullable: true
                  status:
                    type: string
                    enum:
                    - OPEN
                    - IN_REVIEW
                    - RESOLVED
                    - DISMISSED
                  createdAt:
                    type: string
                    format: date-time
                  resolvedAt:
                    type: string
                    format: date-time
                    nullable: true
        '400':
          description: Validation Error
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/posts/{postId}:
    delete:
      tags:
      - Posts
      summary: Delete a post (admin)
      description: Hard-delete or soft-delete UGC post. Audit-logged.
      operationId: adminDeletePost
      parameters:
      - name: postId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: Deleted
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/jobs/queues:
    get:
      tags:
      - Jobs
      summary: List background job queue health
      description: Queue depth, processing rate, and failed counts for BullMQ queues.
      operationId: adminListJobQueues
      responses:
        '200':
          description: Queue health
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required:
                  - name
                  - depth
                  - failedCount
                  - isPaused
                  properties:
                    name:
                      type: string
                      enum:
                      - notifications
                      - search
                      - ai
                      - moderation
                      - email
                      - analytics
                    depth:
                      type: integer
                      minimum: 0
                    processingRate:
                      type: number
                      format: float
                      minimum: 0
                      description: Jobs per minute
                    failedCount:
                      type: integer
                      minimum: 0
                    isPaused:
                      type: boolean
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
  /admin/jobs/{queueName}/{jobId}/retry:
    post:
      tags:
      - Jobs
      summary: Retry a failed job
      description: Admin only.
      operationId: adminRetryJob
      parameters:
      - name: queueName
        in: path
        required: true
        schema:
          type: string
          enum:
          - notifications
          - search
          - ai
          - moderation
          - email
          - analytics
      - name: jobId
        in: path
        required: true
        schema:
          type: string
      responses:
        '202':
          description: Retry accepted
          content:
            application/json:
              schema:
                type: object
                required:
                - jobId
                - acceptedAt
                properties:
                  jobId:
                    type: string
                  acceptedAt:
                    type: string
                    format: date-time
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
                  traceId:
                    type: string
        '404':
          description: Resource not found
          content:
            application/problem+json:
              schema:
                type: object
                required:
                - type
                - title
                - status
                properties:
                  type:
                    type: string
                    format: uri
                  title:
                    type: string
                  status:
                    type: integer
                  detail:
                    type: string
                  instance:
                    type: string
[...]
